div {
	display: block;
}
#map_canvas { width: 100%; height: 300px }
#ws-log {
	float: left;
	width: 300px;
	border-left: solid 1px #9a9ab3;
	padding-left: 20px;
}
#ws-send {
	float: left;
	width: 390px;
	padding-right: 10px;
}
#wsConsoleLog {
	background-color: white;
	border: solid 1px #999;
	border-top-color: #ccc;
	border-left-color: #ccc;
	padding: 5px;
	width: 290px;
	height: 175px;
	overflow-y: auto;
}
#container_damier {
	
	width: 800px;
	height: 800px;
	float: left;
	margin: 50px 0px 0px 0px;
}

#damier {
	
	width: 400px;
	height: 400px;
	float: left;
	margin: 0px 0px 50px 0px;
}

.odd {

	margin : 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 50px;
	background-color : #FFDA8C;
}

.even {
	
	margin : 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 50px;
	background-color : #52251C;
}

.pion_black {
	
	border-radius: 75px;
	border:2px solid black;
	margin : 5px 5px 5px 5px;
	padding: 0px;
	float: left;
	height: 40px;
	width: 40px;
	background-image:url('../images/bois_noir.png');
}

.pion_white {
	
	border-radius: 75px;
	border:2px solid #9A5315;
	margin : 5px 5px 5px 5px;
	padding: 0px;
	float: none;
	height: 40px;
	width: 40px;
	background-image:url('../images/bois_white.png');
}

.phone-virtual-key {

	width: 24%;
	float: left;
	padding-right: 1%;
}

.speech-input{

	width: 60%;
	height: 24px;
}

.timeline iframe{
	margin-top: 20px;
	height: 450px;
}

.shareHtml5 ul {
	margin-left: 0px;
}

.shareHtml5 li {
	margin-top: .5em;
	margin-left: 1.7em;
	margin-bottom: 0px;
}

.imgHeader {
	position: absolute;
	top: 37px;
	right: 39px;
	opacity: 0.6;
	-webkit-transform: scale3d(0.8,0.8,1);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ Safari + IOS6*/
}

.imgHeader span {
	display: inline-block;
	width: 31px;
	height: 30px;
}

.opera {
	background: url('http://www.w3schools.com/images/compatible_opera.gif') no-repeat;
}

.chrome {
	background: url('http://www.w3schools.com/images/compatible_chrome.gif') no-repeat;
}

.ie {
	background: url('http://www.w3schools.com/images/compatible_ie.gif') no-repeat;
}

.firefox {
	background: url('http://www.w3schools.com/images/compatible_firefox.gif') no-repeat;
}

.safari {
	background: url('http://www.w3schools.com/images/compatible_safari.gif') no-repeat;
}