div {
	display: block;
}
#map_canvas { width: 100%; height: 300px }
#ws-log {
	float: left;
	width: 300px;
	border-left: solid 1px #9a9ab3;
	padding-left: 20px;
}
#ws-send {
	float: left;
	width: 390px;
	padding-right: 10px;
}
#wsConsoleLog {
	background-color: white;
	border: solid 1px #999;
	border-top-color: #ccc;
	border-left-color: #ccc;
	padding: 5px;
	width: 290px;
	height: 175px;
	overflow-y: auto;
}
#container_damier {
	
	width: 800px;
	height: 800px;
	float: left;
	margin: 50px 0px 0px 0px;
}

#damier {
	
	width: 400px;
	height: 400px;
	float: left;
	margin: 0px 0px 50px 0px;
}

.odd {

	margin : 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 50px;
	background-color : #FFDA8C;
}

.even {
	
	margin : 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 50px;
	background-color : #52251C;
}

.pion_black {
	
	border-radius: 75px;
	border:2px solid black;
	margin : 5px 5px 5px 5px;
	padding: 0px;
	float: left;
	height: 40px;
	width: 40px;
	background-image:url('../images/bois_noir.png');
}

.pion_white {
	
	border-radius: 75px;
	border:2px solid #9A5315;
	margin : 5px 5px 5px 5px;
	padding: 0px;
	float: none;
	height: 40px;
	width: 40px;
	background-image:url('../images/bois_white.png');
}

.phone-virtual-key {

	width: 24%;
	float: left;
	padding-right: 1%;
}

.speech-input{

	width: 60%;
	height: 24px;
}

.timeline iframe{
	margin-top: 20px;
	height: 450px;
}

.shareHtml5 ul {
	margin-left: 0px;
}

.shareHtml5 li {
	margin-top: .5em;
	margin-left: 1.7em;
	margin-bottom: 0px;
}

.chrome {
	background-image:url('../images/compatible_chrome.gif');
	background-repeat: no-repeat;
	width: 31px;
	height: 30px;
}

.opera {
	background-image:url('../images/compatible_opera.gif');
	background-repeat: no-repeat;
	width: 31px;
	height: 30px;
}
